/* Đảm bảo swiper-wrapper và các slide riêng lẻ cũng cao 100% */
.swiper.h-100,
.swiper-wrapper,
.swiper-slide {
    height: 100%;
}

/* Quan trọng nhất: Chỉnh ảnh để lấp đầy slide mà không bị méo hình */
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Lựa chọn 'cover' hoặc 'contain' */
}